<h2>Home</h2>

<div class="row">
    <div class="col-md-12">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title"><span class="glyphicon glyphicon-thumbs-up"></span> Admin Dashboard</h3>
            </div>
            <div class="panel-body">



                <div class="row">
                    <div class="col-md-12 text-center">

                        <!-- mred -->
                        <a [routerLink]="['products']" class="btn btn-lblue btn-lg" role="button"><span class="glyphicon glyphicon-list glyphsize blue"></span> <br /><span class="blue"><br>Products</span></a>
                        <a [routerLink]="['family']" class="btn btn-lblue btn-lg" role="button"><span class="glyphicon glyphicon-list glyphsize blue"></span> <br /><span class="blue"><br>Family</span></a>
                        <a [routerLink]="['familyProduct']" class="btn btn-lblue btn-lg" role="button"><span class="glyphicon glyphicon-list glyphsize blue"></span> <br /><span class="blue"><br>Family Product</span></a>
                        <a [routerLink]="['classification']" class="btn btn-lblue btn-lg" role="button"><span class="glyphicon glyphicon-list glyphsize blue"></span> <br /><span class="blue"><br>Classification</span></a>
                        <a [routerLink]="['applications']" class="btn btn-lblue btn-lg" role="button"><span class="glyphicon glyphicon-list glyphsize blue"></span> <br /><span class="blue"><br>Applications</span></a>

                    </div>
                    <!--<div class="col-sm-2 col-xs-12">-->
                        <!--<a [routerLink]="['products']" class="btn btn-lblue btn-lg" role="button"><span-->
                                <!--class="glyphicon glyphicon-list glyphsize blue"></span> <br/><span class="blue"><br>Products</span></a>-->
                    <!--</div>-->
                    <!--<div class="col-sm-2 col-xs-12">-->
                        <!--<a [routerLink]="['family']" class="btn btn-lblue btn-lg" role="button"><span-->
                                <!--class="glyphicon glyphicon-list glyphsize blue"></span> <br/><span class="blue"><br>Family</span></a>-->
                    <!--</div>-->
                    <!--<div class="col-sm-2 col-xs-12">-->
                        <!--<a [routerLink]="['familyProduct']" class="btn btn-lblue btn-lg" role="button"><span-->
                                <!--class="glyphicon glyphicon-list glyphsize blue"></span> <br/><span class="blue"><br>Family Product</span></a>-->
                    <!--</div>-->
                    <!--<div class="col-sm-2 col-xs-12">-->
                        <!--<a [routerLink]="['classification']" class="btn btn-lblue btn-lg" role="button"><span-->
                                <!--class="glyphicon glyphicon-list glyphsize blue"></span> <br/><span class="blue"><br>Classification</span></a>-->
                    <!--</div>-->
                    <!--<div class="col-sm-2 col-xs-12">-->
                        <!--<a [routerLink]="['applications']" class="btn btn-lblue btn-lg" role="button"><span-->
                                <!--class="glyphicon glyphicon-list glyphsize blue"></span> <br/><span class="blue"><br>Applications</span></a>-->
                    <!--</div>-->
                </div>
            </div>

        </div>
    </div>
</div>
